:root {
  --primary-color: #ffa400;
  --secondary-color: #1f1f1f;
  --text-color: #fff;
  --text-color-secondary: #1f1f1f;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  background: #eee;
}
.app-container {
  margin: 25px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding-bottom: 15px;
  align-items: center;
}
.header-container .cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
table {
  width: 100%;
  margin-bottom: 20px;
}
table thead {
}
table thead tr {
}
table thead tr th {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
}
table tbody {
}
table tbody tr {
}
table tbody tr td {
  text-align: center;
  font-weight: bold;
}
table tbody tr td .item {
  display: flex;
}
table tbody tr td .item img {
}
table tbody tr td .item .item-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
table tbody tr td .item .item-info .item-name {
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}
table tbody tr td .item .item-info .remove-btn {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: 0 none;
  font-weight: bold;
  display: block;
  text-align: left;
  width: fit-content;
}
table tbody tr td .item .item-info .remove-btn:hover {
  cursor: pointer;
}
table tbody tr td img {
  width: 100px;
}
.cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.cart-footer .clear-cart {
  background: var(--primary-color);
  color: var(--text-color);
  border: 0 none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.cart-footer .total-cost {
}
.item-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item-quantity .quantity {
  border: 1px solid #eee;
  padding: 10px;
  margin: 0 10px;
}
.increase-btn,
.decrease-btn {
  background: var(--primary-color);
  color: var(--text-color);
  border: 0 none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.cart-container h2 {
  text-align: center;
}

@media (max-width: 767px) {
  .table-container {
    overflow-x: scroll;
  }
  table {
  }
}
